.parkinglotItem{
    width: 11%;
    padding-bottom:4%;
    margin:0.3%;
    border:1px solid #000;
    background:lightgrey;
    float:left;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    border-radius:10px;
    font-size: 10pt;
    font-weight: bold;
    text-align:center;
}

.button {
	-webkit-appearance: none;
	font-size: 10pt;
	width: 80%;
	height: 20px;
	align:center;
	text-align:center;
	padding:0;
	margin-bottom:1px;
}