<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Html->link(__('New Site'), ['action' => 'add']) ?></li>
    </ul>
</div>
<div class="sites index large-10 medium-9 columns">
    <table cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th><?= $this->Paginator->sort('id') ?></th>
            <th><?= $this->Paginator->sort('name') ?></th>
            <th><?= $this->Paginator->sort('imagepath') ?></th>
            <th><?= $this->Paginator->sort('coordinates') ?></th>
            <th><?= $this->Paginator->sort('prefix') ?></th>
            <th class="actions"><?= __('Actions') ?></th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($sites as $site): ?>
        <tr>
            <td><?= $this->Number->format($site->id) ?></td>
            <td><?= h($site->name) ?></td>
            <td><?= h($site->imagepath) ?></td>
            <td><?= h($site->coordinates) ?></td>
            <td><?= h($site->prefix) ?></td>
            <td class="actions">
                <?= $this->Html->link(__('View'), ['action' => 'view', $site->id]) ?>
                <?= $this->Html->link(__('Edit'), ['action' => 'edit', $site->id]) ?>
                <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $site->id], ['confirm' => __('Are you sure you want to delete # {0}?', $site->id)]) ?>
            </td>
        </tr>

    <?php endforeach; ?>
    </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
<?php $this->Html->addCrumb('Sites', ['controller' => 'Sites', 'action' => 'index']); ?>